.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* center align the form elements */
    padding: 20px;
    border: 1px solid #333; /* add the dark border */
    box-shadow: 5px 5px 10px #333; /* add the shadow */
}



.form-control {
    width: 75%; /* limit the size of the boxes to 1/4 of the screen */
    margin: 15px 0; /* add spacing between form elements */
}

.form-control input {
    width: 100%; /* make the input take up the full width of the box */
    text-align: center; /* center align the input */
}
    
  
button {
    width: 25%; /* make the submit button 1/2 the size of the boxes */
}

